.snakemake
.DS_Store
.ipynb_checkpoints
data/01_demultiplexed/N*
data/01_demultiplexed/P*
data/01_demultiplexed/L*
data/databases/blast*
data/databases/new_taxdump
.git/
reports/*
results/*
.Rhistory
data/databases/new*
data/databases/krona
*/.Rhistory
libraries.tsv
samples.tsv
test
cyprus*
