.snakemake
.DS_Store
.ipynb_checkpoints
.vscode
.git/
.Rhistory
.editorconfig
*/.Rhistory
data/01_demultiplexed/*
data/databases/blast*
data/*
data/databases/*
data/old/*
data/COI/*
results/0*
results/blast/*
results/blast_tax/*
reports/fastp/*
reports/recentrifuge/*
results/kraken/*
results/mlca/*
reports/fastp_merged/*
reports/vsearch/*
.Rhistory
*/.Rhistory
libraries.tsv
samples.tsv
test
cyprus*
Untitled.ipynb
!cc_tapirs
